# Macro for using different PA values for different materials and nozzle sizes
# I created this macro since it turned out different materials can benefit from different PA values.
# 
# To use this macro:
# - add your PA values to variable_pa_dict in the _pa_vars macro.
# - add the following to your start GCODE or PRINT_START Macro (replace the values between <> with your actual values) '_select_pa_value FILAMENT=<FILAMENT_TYPE> NOZZLE=<NOZZLE_SIZE>'
# - ... PROFIT???? :D


[gcode_macro _pa_vars]
description: PA Values for different filaments
variable_verbose: True
variable_pa_dict: {
        'PETG': {
            '0.4': {'value': 0, 'smooth_time': 0},
            '0.8': {'value': 0, 'smooth_time': 0}
        },
        'PLA': {
            '0.4': {'value': 0, 'smooth_time': 0},
            '0.8': {'value': 0, 'smooth_time': 0}
        },
        'ABS': {
            '0.4': {'value': 0.030, 'smooth_time': 0.040},
            '0.8': {'value': 0, 'smooth_time': 0}
        },
        'ASA': {
            '0.4': {'value':  0.030, 'smooth_time': 0.040},
            '0.8': {'value': 0, 'smooth_time': 0}
        },
        'PC': {
            '0.4': {'value':  0.030, 'smooth_time': 0.040},
            '0.8': {'value': 0, 'smooth_time': 0}
        }
    }
gcode:
  # Required section

[gcode_macro _select_pa_value]
gcode:
    {% set filament = params.FILAMENT %}
    {% set nozzle_size = params.NOZZLE %}

    {% if printer["gcode_macro _pa_vars"].pa_dict[filament] is defined 
          and printer["gcode_macro _pa_vars"].pa_dict[filament][nozzle_size] is defined %}
      {% set settings = printer["gcode_macro _pa_vars"].pa_dict[filament][nozzle_size] %}
      {% if printer["gcode_macro _pa_vars"].verbose %}
        M118 Setting PA to {settings.value} and Smooth Time to {settings.smooth_time}
      {% endif %}
      SET_PRESSURE_ADVANCE ADVANCE={settings.value} SMOOTH_TIME={settings.smooth_time}
    {% else %}
      {% if printer["gcode_macro _pa_vars"].verbose %}
        M118 Unable to find PA Values, PA has not been set
      {% endif %}
      SET_PRESSURE_ADVANCE ADVANCE=0 SMOOTH_TIME=0
    {% endif %}
