[include ./macros/macros.cfg]
[include KAMP_Settings.cfg]
[include shell_commands.cfg]
[include stepper_uart.cfg]
[include timelapse.cfg]
[include resonance_testing.cfg]
[include ./lights/lights.cfg]
[include ./display/display.cfg]

#####################################################################
#   Basic Config
#####################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]
recover_velocity: 300.0

[respond]
default_type: command

[exclude_object]

[force_move]
enable_force_move: True

#####################################################################
#   Printer Config
#####################################################################

[mcu]
canbus_uuid: 854fee8e8b82

[mcu EBB36]
canbus_uuid: 6f075b268631

[mcu CB1]
serial: /tmp/klipper_host_mcu

[idle_timeout]
gcode:
    {% if "xyz" in printer.toolhead.homed_axes %}
        G91                                                                                                 ; relative positioning
        G1 Z5 F18000.0                                                                                      ; move up 5mm
        G90                                                                                                 ; absolute positioning
        G1 X{printer.toolhead.axis_maximum.x} Y{printer.toolhead.axis_maximum.y} F18000.0                   ; park nozzle at rear
    {% endif %}
    OFF                                                                                                     ; turn everything off
timeout: 7200 # 2 hrs

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 5.0

[firmware_retraction]
retract_length: 0.5
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30
z_hop_height: 0.0

[skew_correction]

#####################################################################
#  Stepper Settings
#####################################################################

[stepper_x]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13 # !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 132
position_max: 132
position_min: -12
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y]
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 127
position_max: 127
position_min: -2
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
rotation_distance: 32
microsteps: 128
endstop_pin: probe:z_virtual_endstop
position_max: 120
position_min: -4
homing_speed: 10 
second_homing_speed: 3.0
homing_retract_dist: 3.0
homing_positive_dir: false

[stepper_z1]
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
rotation_distance: 32
microsteps: 128

[stepper_z2]
step_pin: PB0
dir_pin: PB1
enable_pin: !PC4
rotation_distance: 32
microsteps: 128

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: EBB36:PD0
dir_pin: EBB36:PD1
enable_pin: !EBB36:PD2
full_steps_per_rotation: 200    # 1.8° motor LDO
# rotation_distance: 22.63014       # See calibrating rotation_distance on extruders doc
# gear_ratio: 50:10               # For Mini Afterburner
rotation_distance: 54.013618152
gear_ratio: 44:10, 37:17
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB36:PB13
# sensor_type: EPCOS 100K B57560G104F # standard
sensor_type: ATC Semitec 104NT-4-R025H42G # E3D Revo
sensor_pin: EBB36:PA3
#control: pid            # Do PID calibration
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
min_temp: 0
max_temp: 300
min_extrude_temp: 190
max_extrude_only_distance: 780.0
max_extrude_cross_section: 5 #50

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA5
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
sensor_pin: PA0
smooth_time: 3.0
min_temp: 0
max_temp: 130
max_power: 1
#control: pid            # Do PID calibration
#pid_kp: 68.453
#pid_ki: 2.749
#pid_kd: 426.122

#####################################################################
#   Probe
#####################################################################

[probe]
pin: ^EBB36:PB6
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 5
samples:3 
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
drop_first_result: True
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[bed_mesh]
speed: 200
horizontal_move_z: 3
mesh_min: 10,10
mesh_max: 110,110
probe_count: 5,5
algorithm: lagrange

[homing_override]
axes: xyz
gcode:
	{% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

    STATUS_HOMING

    #On the first G28 after motors losing power, moves the Z to a safe distance
    {% if 'x' not in printer.toolhead.homed_axes and 'y' not in printer.toolhead.homed_axes and 'z' not in printer.toolhead.homed_axes%}
        { action_respond_info("No axis homed") }
        SET_KINEMATIC_POSITION X=0 Y=0 Z=0
        M400
        { action_respond_info("moving to a safe Z distance") }
        G0 Z20 F4000
    {% endif %}
    {% if 'z' in printer.toolhead.homed_axes %}
        { action_respond_info("moving to a safe Z distance") }
        G0 Z20 F4000
    {% endif %}

	{% if home_all or 'X' in params %}
		# _HOME_X
        # Home
        G28 X
        # Move away
        G91
        G1 X-10 F1200
	{% endif %}
	
	{% if home_all or 'Y' in params %}
		# _HOME_Y
        # Home
        G28 Y
        # Move away
        G91
        G1 Y-10 F1200
	{% endif %}
	
	{% if home_all or 'Z' in params %}
		G90
        G0 X60 Y60 F15000
        # G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F15000   
		G28 Z
		G1 Z10
	{% endif %}
    STATUS_READY

[z_tilt]
z_positions:
    -22.6, -16.4
    60, 151.3
    142.6, -16.4
points:
    10, 10
    60, 110
    110, 10
speed: 200
horizontal_move_z: 5
adaptive_horizontal_move_z: True
retries: 4
retry_tolerance: 0.0075

#####################################################################
#   Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: EBB36:PA1
max_power: 0.6
shutdown_speed: 0.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0         # You can't PWM the delta fan unless using blue wire

[fan]
pin: EBB36:PA0
max_power: 1.0
kick_start_time: 0.5
#depending on your fan, you may need to increase or reduce this value
#if your fan will not start
# off_below: 0.10
cycle_time: 0.010

[fan_generic nevermore]
pin: PA3
kick_start_time: 5.0

[controller_fan controller_fans]
pin: PA4
kick_start_time: 0.5
heater: heater_bed
fan_speed: 1

[controller_fan bed_fans]
pin: CB1:gpio79 # cm4:gpio26
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.75

#####################################################################
#   Additional Sensors
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor BTT-EBB36]
sensor_type: temperature_mcu
sensor_mcu: EBB36

[temperature_sensor chamber]
sensor_type: Generic 3950 # EPCOS 100K B57560G104F
sensor_pin: PA1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 47.167
#*# pid_ki = 2.400
#*# pid_kd = 231.709
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 66.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 49.8
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.169
#*# pid_ki = 5.162
#*# pid_kd = 66.904
#*#
#*# [probe]
#*# z_offset = -0.930
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.000822, 0.012072, 0.039572, 0.015822, 0.003322
#*# 	0.049572, 0.050822, 0.082072, 0.048322, 0.048322
#*# 	0.045822, 0.032072, 0.058322, 0.044572, 0.017072
#*# 	0.049572, 0.028322, 0.054572, -0.001678, 0.009572
#*# 	-0.020428, -0.015428, -0.000428, -0.040428, -0.067928
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 110.0
#*# min_y = 10.0
#*# max_y = 110.0
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = -0.008562240192627794
#*# xz_skew = 0.0
#*# yz_skew = 0.0
