# On Manta
# [adxl345]
# cs_pin: PA6
# spi_software_sclk_pin: PB15
# spi_software_mosi_pin: PA5
# spi_software_miso_pin: PA7

# On CB1
[adxl345]
cs_pin: cb1:gpio74
spi_bus: spidev1.1

[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20