[gcode_shell_command backup_cfg]
command: sh /home/pi/autocommit.sh
timeout: 30.
verbose: True

[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

[gcode_shell_command take_dslr_pic]
command: sh /home/pi/take_framepic.sh
timeout: 30.
verbose: True

[gcode_macro RESET_DSLR_CAPTURE]
gcode:
  SET_GCODE_VARIABLE MACRO=TAKE_DSLR_FRAME VARIABLE=frame VALUE=0
  # SET_GCODE_VARIABLE MACRO=TAKE_DSLR_FRAME VARIABLE=printname VALUE=''

[gcode_macro SET_DSLR_PRINT_NAME]
gcode:
  {% set printname = params.PRINTNAME|default('') %}
  SET_GCODE_VARIABLE MACRO=TAKE_DSLR_FRAME VARIABLE=printname VALUE='"{printname}"'

[gcode_macro TAKE_DSLR_FRAME]
variable_frame: 0
variable_printname: ''
gcode:
  RUN_SHELL_COMMAND CMD=take_dslr_pic PARAMS="{frame} {printname}"
  SET_GCODE_VARIABLE MACRO=TAKE_DSLR_FRAME VARIABLE=frame VALUE={frame+1}