[gcode_macro PRINT_START]
variable_bedtemp: 0
variable_hotendtemp: 0
variable_chambertemp: 0
gcode:
    # Parameters
    {% set bed = params.BED|int %}
    {% set hotend = params.HOTEND|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}
    {% set filament = params.FILAMENT|default('') %}
    {% set nozzle_diameter = params.NOZZLE|default(0.4) %}

    RESETSPEEDS
    SAVE_GCODE_STATE NAME=pre_PRINT
    
	# Set the parameters as persistent variables so they can be referenced elsewhere 
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=bedtemp VALUE={bed}	
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=hotendtemp VALUE={hotend}	
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=chambertemp VALUE={chamber}

    # Reset delayed gcode
    UPDATE_DELAYED_GCODE ID=NEVERMORE_SHUTDOWN DURATION=0

    # Setup PA Settings
    _select_pa_value FILAMENT={filament} NOZZLE={nozzle_diameter}

    SET_PIN PIN=Nevermore VALUE=1
    M104 S140                                                                            ; set hotend to no-ooze temp
    M140 S{bed}                                                                          ; set bed to target temp
    G28
    G90
    M190 S{bed}  # Wait on final bed temp
    G28 Z PROBE_LOCK
    BED_MESH_CALIBRATE
    Dock_Probe_Unlock
    M104 S{hotend} # Set extruder final temp
    G90
    G1 X60 Y60 Z60 F3000 # Move to middle
    M109 S{hotend} # Wait on hotend heatup

    # Create purge line
    G92 E0 ; reset extruder
    G1 X100 Y0 Z0.3 F19500.0 ; move to start position
    G1 X20 Y0 Z0.3 F1500.0 E6 ; draw the first line
    G92 E0 ; reset extruder
    G1 Z2.0 F3000 ; move Z Axis up
    
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
    
    BED_MESH_CLEAR ; clear the bed mesh
    SET_PRESSURE_ADVANCE ADVANCE=0 SMOOTH_TIME=0 ; reset PA settings
    RESETSPEEDS ; reset accels

    RESTORE_GCODE_STATE NAME=pre_PRINT

    UPDATE_DELAYED_GCODE ID=NEVERMORE_SHUTDOWN DURATION=120
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=600   

# Replace M109 (Wait for Hotend Temperature) with TEMPERATURE_WAIT so we don't have to wait for PID to level off.
[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}

	M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}


[delayed_gcode NEVERMORE_SHUTDOWN]
gcode:
    SET_PIN PIN=Nevermore VALUE=0

[delayed_gcode DELAYED_OFF]
gcode:
    OFF ; call "OFF" macro, to turn off everything (heaters, motors, lights, fans)

[gcode_macro OFF]
gcode:
    M84                                  ; turn steppers off
    TURN_OFF_HEATERS                     ; turn bed / hotend off
    M107                                 ; turn print cooling fan off
    # SET_FAN_SPEED FAN=Exhaust SPEED=0    ; turn exhaust fan off
    # SET_FAN_SPEED FAN=BedOuter SPEED=0   ; bed fan off
    # SET_FAN_SPEED FAN=BedInner SPEED=0   ; bed fan off
    # SET_PIN PIN=caselight VALUE=0        ; turn light off

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_LOAD_FILLAMENT
    M83                            ; set extruder to relative
    G1 E30 F300                    ; load
    G1 E15 F150                    ; prime nozzle with filament
    G1 E-2 F1800                  ; retract some, but not too much or it will jam
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_LOAD_FILLAMENT
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_UNLOAD_FILLAMENT
    M83                            ; set extruder to relative
    G1 E10 F300                    ; extrude a little to soften tip
    G1 E-40 F1800                  ; retract some, but not too much or it will jam
    G4 P2000                       ; wait a bit for tip to cool
    G1 E-40 F1800                  ; retract last bit of filament
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_UNLOAD_FILLAMENT

[gcode_macro PURGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_PURGE_FILAMENT
    CG28
    G1 X60 Y60 Z50 F3000  
    M83                            ; set extruder to relative
    G1 E100 F300                    ; extrude a little to soften tip
    G1 E-2 F1800                  ; retract some, but not too much or it will jam
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_PURGE_FILAMENT

[gcode_macro UNSAFE_PURGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_UNSAFE_PURGE_FILAMENT
    M83                            ; set extruder to relative
    G1 E100 F300                    ; extrude a little to soften tip
    G1 E-2 F1800                  ; retract some, but not too much or it will jam
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_UNSAFE_PURGE_FILAMENT

# Conditional G28 (home if not already homed)
[gcode_macro CG28]
gcode:
  {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    {% if 'PROBE_LOCK' in params%}
      {% if verbose %}
        { action_respond_info("PROBE_LOCK = True") }
      {% endif %}
      G28 PROBE_LOCK
    {% else %}
      G28
    {% endif %}
  {% endif %}

[gcode_macro ZCG28]
gcode:
	{% if "z" not in printer.toolhead.homed_axes %}
      {% if 'PROBE_LOCK' in params%}
        {% if verbose %}
          { action_respond_info("PROBE_LOCK = True") }
        {% endif %}
        G28 Z PROBE_LOCK
      {% else %}
        G28 Z
      {% endif %}
	{% endif %}

# Convert Marlin linear advance commands to SET_PRESSURE_ADVANCE.
# Used in conjunction with Marlin's linear advance calibration tool: https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
	# Parameters
	{% set k = params.K|default(0)|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={k}

[gcode_macro RESETSPEEDS]
gcode:
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} 
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}  
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} 
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity}
