[gcode_macro PRINT_START]
variable_bedtemp: 0
variable_hotendtemp: 0
variable_chambertemp: 0
gcode:
    # Parameters
    {% set bed = params.BED|int %}
    {% set hotend = params.HOTEND|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}
    {% set filament = params.FILAMENT|default('') %}
    {% set nozzle_diameter = params.NOZZLE|default(0.4) %}

    RESETSPEEDS
    SAVE_GCODE_STATE NAME=pre_PRINT
    
	# Set the parameters as persistent variables so they can be referenced elsewhere 
	
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=bedtemp VALUE={bed}	
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=hotendtemp VALUE={hotend}	
	SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=chambertemp VALUE={chamber}

    # Enable nevermore
    SET_PIN PIN=Nevermore VALUE=1

    # Setup PA Settings
    _select_pa_value FILAMENT={filament} NOZZLE={nozzle_diameter}

    CG28
    G90
    M104 S140    # Set no ooze temp
    M140 S{bed}  # Set final bed temp
    M190 S{bed}  # Wait on final bed temp
    G28 Z PROBE_LOCK
    # BED_MESH_CALIBRATE
    Dock_Probe_Unlock
    M104 S{hotend} # Set extruder final temp
    G92 E0 # Resetu exturder
    G1 X60 Y0 Z20 F3000 # Move to front and middle
    M109 S{hotend} # Wait on hotend heatup


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
    
    BED_MESH_CLEAR ; clear the bed mesh
    SET_PRESSURE_ADVANCE ADVANCE=0 SMOOTH_TIME=0 ; reset PA settings
    RESETSPEEDS ; reset accels

    RESTORE_GCODE_STATE NAME=pre_PRINT

    UPDATE_DELAYED_GCODE ID=nevermore_shutdown DURATION=300

[delayed_gcode nevermore_shutdown]
gcode:
    SET_PIN PIN=Nevermore VALUE=0

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_LOAD_FILLAMENT
    M83                            ; set extruder to relative
    G1 E30 F300                    ; load
    G1 E15 F150                    ; prime nozzle with filament
    G1 E-2 F1800                  ; retract some, but not too much or it will jam
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_LOAD_FILLAMENT
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_UNLOAD_FILLAMENT
    M83                            ; set extruder to relative
    G1 E10 F300                    ; extrude a little to soften tip
    G1 E-40 F1800                  ; retract some, but not too much or it will jam
    G4 P2000                       ; wait a bit for tip to cool
    G1 E-40 F1800                  ; retract last bit of filament
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_UNLOAD_FILLAMENT

[gcode_macro PURGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_PURGE_FILAMENT
    CG28
    G1 X60 Y60 Z50 F3000  
    M83                            ; set extruder to relative
    G1 E100 F300                    ; extrude a little to soften tip
    G1 E-2 F1800                  ; retract some, but not too much or it will jam
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_PURGE_FILAMENT

[gcode_macro UNSAFE_PURGE_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=pre_UNSAFE_PURGE_FILAMENT
    M83                            ; set extruder to relative
    G1 E100 F300                    ; extrude a little to soften tip
    G1 E-2 F1800                  ; retract some, but not too much or it will jam
    M82                            ; set extruder to absolute
    RESTORE_GCODE_STATE NAME=pre_UNSAFE_PURGE_FILAMENT

# Conditional G28 (home if not already homed)
[gcode_macro CG28]
gcode:
  {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    {% if 'PROBE_LOCK' in params%}
      {% if verbose %}
        { action_respond_info("PROBE_LOCK = True") }
      {% endif %}
      G28 PROBE_LOCK
    {% else %}
      G28
    {% endif %}
  {% endif %}

[gcode_macro ZCG28]
gcode:
	{% if "z" not in printer.toolhead.homed_axes %}
      {% if 'PROBE_LOCK' in params%}
        {% if verbose %}
          { action_respond_info("PROBE_LOCK = True") }
        {% endif %}
        G28 Z PROBE_LOCK
      {% else %}
        G28 Z
      {% endif %}
	{% endif %}

# Convert Marlin linear advance commands to SET_PRESSURE_ADVANCE.
# Used in conjunction with Marlin's linear advance calibration tool: https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
	# Parameters
	{% set k = params.K|default(0)|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={k}

[gcode_macro RESETSPEEDS]
gcode:
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}  ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 
