[gcode_macro PRINT_START]
variable_bedtemp: 0
gcode:
  # Parameters
  {% set bed = params.BED|int %}
  {% set hotend = params.HOTEND|int %}

  SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=bedtemp VALUE={bed}

  RESETSPEEDS
  BLTOUCH_DEBUG COMMAND=reset
  
  CG28 # Conditional Homing
  G90 # Absolute positioning
  M140 S{bed} # Set final bed temp
  # SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed}
  M104 S140 # Set no-ooze temp
  # SET_HEATER_TEMPERATURE HEATER=extruder TARGET=140
  M190 S{bed} # Wait for final bed temp
  # TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed} MAXIMUM={bed}
  G28 Z # Home warmed bed
  BED_MESH_CALIBRATE
  # SET_HEATER_TEMPERATURE HEATER=extruder TARGET={hotend}
  M104 S{hotend} #Set extruder final temp
  G1 X0.1 Y20 Z5 F5000.0 # Move to start position
  # TEMPERATURE_WAIT SENSOR=extruder MINIMUM={hotend} MAXIMUM={hotend}
  M109 S{hotend} #Wait for final extruder temp

  STATUS_PRINTING

  G92 E0 # Reset extruder
  G1 Z2.0 F3000 											# Move Z Axis up little to prevent scratching of Heat Bed
  G1 X0.1 Y20 Z0.3 F5000.0 									# Move to start position
  G1 X0.1 Y200.0 Z0.3 F1500.0 E15 							# Draw the first line
  G1 X0.4 Y200.0 Z0.3 F5000.0 								# Move to side a little
  G1 X0.4 Y30 Z0.3 F1500.0 E28.33 							# Draw the second line (minus 1CM)
  G92 E0                              						# Reset Extruder
  G1 Z0.3 F3000                       						# Move Z Axis up little to prevent scratching of Heat Bed

[gcode_macro PRINT_END]
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X{max_x/2} Y{max_y} F3600   ; park nozzle at rear
    BED_MESH_CLEAR
    STATUS_READY

# Conditional G28 (home if not already homed)
[gcode_macro CG28]
gcode:
  {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
  G28
  {% endif %}

[gcode_macro ZCG28]
gcode:
	{% if "z" not in printer.toolhead.homed_axes %}
	G28 Z
	G28 Z
	{% endif %}

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE

# Convert Marlin linear advance commands to SET_PRESSURE_ADVANCE.
# Used in conjunction with Marlin's linear advance calibration tool: https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
	# Parameters
	{% set k = params.K|default(0)|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={k}

[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro RESETSPEEDS]
gcode:
	SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}  ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel} SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity} 

[gcode_macro LOAD_FILLAMENT]
gcode:
  G21 ;Let the printer know you are following this point with metric values
  G90 ;Let the printer know you are using absolute positioning
  G92 E0 ;Reset the position of the extruder
  G1 E120 F2500 ;Feed 600 mm of filament at 2000 mm/minute speed, change 600 to the lenght of your bowdentube.
  G92 E0 ; Reset position of extruder
  G1 E40 F100 ; Feed a small amount to prime the nozzle
  G92 E0 ; Reset position of extruder
  G1 E-3 F2500 ; Retract a small amount to prevent oozing
  G92 E0 ;Reset the position of the extruder

[gcode_macro UNLOAD_FILLAMENT]
gcode:
  G21 ;Let the printer know you are following this point with metric values
  G90 ;Let the printer know you are using absolute positioning
  G92 E0 ;Reset the position of the extruder
  G1 E10 F100 ; Extrude a short distance before unloading to avoid blob forming
  G92 E0 ;Reset the position of the extruder
  G1 E-300 F2500 ;Retract 700 mm of filament at 2000 mm/minute speed, change 700 to the lenght of your bowdentube + 100 mm.
  G92 E0 ;Reset the position of the extruder