#####################################################################
#  Stepper X
#####################################################################

[tmc2209 stepper_x]
uart_pin: PD8
diag_pin: ^PD2
driver_SGTHRS: 66
interpolate: False
run_current: 0.4 # 0.5        # For V0.1 spec NEMA14 40Ncm
home_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_x]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13 # !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 132
position_max: 132
position_min: -12
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true
use_sensorless_homing: true

#####################################################################
#  Stepper Y
#####################################################################

[tmc2209 stepper_y]
uart_pin: PD9
diag_pin: ^PD3
driver_SGTHRS: 66 # 73
interpolate: False
run_current: 0.4 # 0.5        # For V0.1 spec NEMA14 40Ncm
home_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_y]
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 127
position_max: 127
position_min: -2
homing_speed: 40
homing_retract_dist: 0
homing_positive_dir: true
use_sensorless_homing: true

#####################################################################
#  Stepper Z
#####################################################################

[tmc2209 stepper_z]
uart_pin: PB2
interpolate: False
run_current: 0.8 
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
rotation_distance: 32
microsteps: 128
endstop_pin: probe:z_virtual_endstop
position_max: 120
position_min: -4
homing_speed: 10 
second_homing_speed: 3.0
homing_retract_dist: 3.0
homing_positive_dir: false

#####################################################################
#  Stepper Z1
#####################################################################

[tmc2209 stepper_z1]
uart_pin: PB10
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
rotation_distance: 32
microsteps: 128

#####################################################################
#  Stepper Z2
#####################################################################

[tmc2209 stepper_z2]
uart_pin: PA6
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z2]
step_pin: PB0
dir_pin: PB1
enable_pin: !PC4
rotation_distance: 32
microsteps: 128