#####################################################################
#   X Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR0
##  Endstop connected to DIAG0
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
# Sensorless Homing
# home_current: 0.49
# diag_pin: 
# driver_SGTHRS: 

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: sb2040:gpio29
# endstop_pin: tmc2209_stepper_x:virtual_endstop # Sensorless homing
position_min: 0
position_endstop: 354
position_max: 354
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# use_sensorless_homing: true

#####################################################################
#   Y Stepper Settings
#####################################################################

##  A Stepper - Right
##  Connected to MOTOR1
##  Endstop connected to DIAG1
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
# Sensorless Homing
# home_current: 0.49
# diag_pin: 
# driver_SGTHRS: 

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: PG9
# endstop_pin: tmc2209_stepper_y:virtual_endstop # Sensorless homing
position_min: 0
position_endstop: 350 # 355
position_max: 350 # 355
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true
# use_sensorless_homing: true

#####################################################################
#   Z0 Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR2_1
##  Endstop connected to DIAG_2
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0
position_max: 310
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

#####################################################################
#   Z1 Stepper Settings
#####################################################################

##  Z1 Stepper - Rear Left
##  Connected to MOTOR3
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

#####################################################################
#   Z2 Stepper Settings
#####################################################################

##  Z2 Stepper - Rear Right
##  Connected to MOTOR4
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

#####################################################################
#   Z3 Stepper Settings
#####################################################################

##  Z3 Stepper - Front Right
##  Connected to MOTOR5
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32