#####################################################################
#   Displays
#####################################################################
[include display_data.cfg]
[include menu_root/root.cfg]

[mcu display]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_3B0017001243565335383320-if00
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: display
i2c_bus: i2c1a
encoder_pins: ^display:PA3, ^display:PA4
click_pin: ^!display:PA1
kill_pin: ^!display:PA5
x_offset: 2
vcomh: 31
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)
display_group: __voron_display
menu_root: __root

[neopixel display_led]
pin: display:PA0
chain_count: 1
color_order: GRB
initial_RED: 0
initial_GREEN: 0.5
initial_BLUE: 0.5

[gcode_macro _display_vars]
# User settings for the StealthBurner status leds. You can change the status colors and led
# configurations for the logo and nozzle here.
variable_colors: {
        'logo': { # Colors for logo states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.5, 'g': 0.5, 'b': 0.5, 'w': 0.1},
        }
    }
variable_logo_led_name:         "display_led" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "1" 
# A comma-separated list of indexes LEDs in the logo
gcode:
    # This section is required.  Do Not Delete.


[gcode_macro _set_display_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}

    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_display_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _display_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _display_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _display_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_display_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _display_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _display_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_display_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro set_logo_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_logo_leds red=0 blue=0 green=0 white=0 transmit={transmit}

[gcode_macro status_off]
gcode:
    set_logo_leds_off transmit=1

[gcode_macro status_ready]
gcode:
    _set_display_leds_by_name leds="logo" color="standby" transmit=1

[gcode_macro status_busy]
gcode:
    _set_display_leds_by_name leds="logo" color="busy" transmit=1

[gcode_macro status_heating]
gcode:
    _set_display_leds_by_name leds="logo" color="heating" transmit=1

[gcode_macro status_leveling]
gcode:
    _set_display_leds_by_name leds="logo" color="leveling" transmit=1

[gcode_macro status_homing]
gcode:
    _set_display_leds_by_name leds="logo" color="homing" transmit=1

[gcode_macro status_cleaning]
gcode:
    _set_display_leds_by_name leds="logo" color="cleaning" transmit=1

[gcode_macro status_meshing]
gcode:
    _set_display_leds_by_name leds="logo" color="meshing" transmit=1

[gcode_macro status_calibrating_z]
gcode:
    _set_display_leds_by_name leds="logo" color="calibrating_z" transmit=1

[gcode_macro status_printing]
gcode:
    _set_display_leds_by_name leds="logo" color="printing" transmit=1